.search-ico {
	width: 40upx;
	height: 40upx;
	padding-top: 10upx;
}

.search-text {
	font-size: 14px;
	background-color: #eaeaea;
	height: 60upx;
	width: 650upx;
}

.search-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0upx 20upx 20upx 20upx;
	/* 固定搜索栏 */
	position: fixed;
	top: 100;
	z-index: 1000;
	background-color: #F8F8F8;
}

.poster {
	width: 200upx;
	height: 270upx;
}

.movie-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 50upx 10upx 0upx 10upx;
}

.movie-wapper{
	padding: 10upx 20upx;
}